@model LojaDeJogos.Models.Jogo
@{
    ViewBag.Title = "Indexjogo";
}

<h2>Jogo</h2>
@using (Html.BeginForm("Cadjogo", "Jogo", FormMethod.Post))
{@Html.ValidationSummary(true)
<fieldset>
    <legend>Cadastro do jogo</legend>


    <!--CodGame-->
    <div class="editor-label">@Html.LabelFor(m => m.CodGame)</div>
    <div class="editor-field">
        @Html.EditorFor(m => m.CodGame)
        @Html.ValidationMessageFor(m => m.CodGame)
    </div>

    <!--NomeGame-->
    <div class="editor-label">@Html.LabelFor(m => m.NomeGame)</div>
    <div class="editor-field">
        @Html.EditorFor(m => m.NomeGame)
        @Html.ValidationMessageFor(m => m.NomeGame)
    </div>

    <!--VersaoGame-->
    <div class="editor-label">@Html.LabelFor(m => m.VersaoGame)</div>
    <div class="editor-field">
        @Html.EditorFor(m => m.VersaoGame)
        @Html.ValidationMessageFor(m => m.VersaoGame)
    </div>

    <!--desenvolvedorGame-->
    <div class="editor-label">@Html.LabelFor(m => m.desenvolvedorGame)</div>
    <div class="editor-field">
        @Html.EditorFor(m => m.desenvolvedorGame)
        @Html.ValidationMessageFor(m => m.desenvolvedorGame)
    </div>

    <!--GeneroGame-->
    <div class="editor-label">@Html.LabelFor(m => m.GeneroGame)</div>
    <div class="editor-field">
        @Html.EditorFor(m => m.GeneroGame)
        @Html.ValidationMessageFor(m => m.GeneroGame)
    </div>

    <!--EtariaGame-->
    <div class="editor-label">@Html.LabelFor(m => m.EtariaGame)</div>
    <div class="editor-field">
        @Html.EditorFor(m => m.EtariaGame)
        @Html.ValidationMessageFor(m => m.EtariaGame)
    </div>

    <!--PlataformaGame-->
    <div class="editor-label">@Html.LabelFor(m => m.PlataformaGame)</div>
    <div class="editor-field">
        @Html.EditorFor(m => m.PlataformaGame)
        @Html.ValidationMessageFor(m => m.PlataformaGame)
    </div>

    <!--AnoLancamentoGame-->
    <div class="editor-label">@Html.LabelFor(m => m.AnoLancamentoGame)</div>
    <div class="editor-field">
        @Html.EditorFor(m => m.AnoLancamentoGame)
        @Html.ValidationMessageFor(m => m.AnoLancamentoGame)
    </div>

    <!--SinopseJogo-->
    <div class="editor-label">@Html.LabelFor(m => m.SinopseJogo)</div>
    <div class="editor-field">
        @Html.EditorFor(m => m.SinopseJogo)
        @Html.ValidationMessageFor(m => m.SinopseJogo)
    </div>

    <br />
    <div>
        <input type="submit" value="enviar" class="btn btn-primary" />
    </div>
</fieldset>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval");
}
}