@model LojaDeJogos.Models.Jogo
@{
    ViewBag.Title = "ListaJogo";
}

<h2>Listar</h2>
<fieldset>
    <legend>Infomações do Funcionário</legend>
    <div class="editor-label">@Html.DisplayNameFor(model => model.CodGame)</div>
    <div class="editor-field">@Html.DisplayFor(model => model.CodGame)</div>

    <div class="editor-label">@Html.DisplayNameFor(model => model.NomeGame)</div>
    <div class="editor-field">@Html.DisplayFor(model => model.NomeGame)</div>

    <div class="editor-label">@Html.DisplayNameFor(model => model.desenvolvedorGame)</div>
    <div class="editor-field">@Html.DisplayFor(model => model.desenvolvedorGame)</div>

    <div class="editor-label">@Html.DisplayNameFor(model => model.GeneroGame)</div>
    <div class="editor-field">@Html.DisplayFor(model => model.GeneroGame)</div>

    <div class="editor-label">@Html.DisplayNameFor(model => model.EtariaGame)</div>
    <div class="editor-field">@Html.DisplayFor(model => model.EtariaGame)</div>

    <div class="editor-label">@Html.DisplayNameFor(model => model.PlataformaGame)</div>
    <div class="editor-field">@Html.DisplayFor(model => model.PlataformaGame)</div>

    <div class="editor-label">@Html.DisplayNameFor(model => model.AnoLancamentoGame)</div>
    <div class="editor-field">@Html.DisplayFor(model => model.AnoLancamentoGame)</div>

    <div class="editor-label">@Html.DisplayNameFor(model => model.SinopseJogo)</div>
    <div class="editor-field">@Html.DisplayFor(model => model.SinopseJogo)</div>
    <br />
    @Html.ActionLink("Voltar", "Index", "Home")
</fieldset>