@model IEnumerable<LojaDeJogos.Models.Jogo>
@{
    ViewBag.Title = "ListaJogo";
}

<h2>Lista de jogos</h2>
<br />
<p>@Html.ActionLink("Cadastrar Outro Jogo", "Indexjogo")</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodGame)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.NomeGame)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.VersaoGame)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.desenvolvedorGame)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.GeneroGame)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.EtariaGame)
        </th>

        <tth>
            @Html.DisplayNameFor(model => model.PlataformaGame)
        </tth>

        <th>
            @Html.DisplayNameFor(model => model.AnoLancamentoGame)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.SinopseJogo)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelitem => item.CodGame)
            </td>

            <td>
                @Html.DisplayFor(modelitem => item.NomeGame)
            </td>

            <td>
                @Html.DisplayFor(modelitem => item.VersaoGame)
            </td>

            <td>
                @Html.DisplayFor(modelitem => item.desenvolvedorGame)
            </td>

            <td>
                @Html.DisplayFor(modelitem => item.GeneroGame)
            </td>

            <td>
                @Html.DisplayFor(modelitem => item.EtariaGame)
            </td>

            <td>
                @Html.DisplayFor(modelitem => item.PlataformaGame)
            </td>

            <td>
                @Html.DisplayFor(modelitem => item.AnoLancamentoGame)
            </td>

            <td>
                @Html.DisplayFor(modelitem => item.SinopseJogo)
            </td>

            <td>
                @Html.ActionLink("Alterar", "AltJogo", null, new { cdGame = item.CodGame }, new { @class = "btn btn-primary btn-xs" })
                @Html.ActionLink("Deletar", "DelJogo", null, new { cdGame = item.CodGame }, new { @class = "btn btn-danger btn-xs" })
            </td>

        </tr>

    }

</table>

