@model IEnumerable<LojaDeJogos.Models.Cliente>
@{
    ViewBag.Title = "ListaCliente";
}

<h2>Listar Funcionarios</h2>
<br />
<p>@Html.ActionLink("Cadastrar Outro Cliente", "IndexCliente")</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CPFCli)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.NomeCli)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.DatNascCli)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.EnderecoCli)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.CelularCli)
        </th>

        <tth>
            @Html.DisplayNameFor(model => model.EmailCli)
        </tth>
    </tr>

    @foreach (var item in Model)
     {
        <tr>
            <td>
                @Html.DisplayFor(modelitem => item.CPFCli)
            </td>

            <td>
                @Html.DisplayFor(modelitem => item.NomeCli)
            </td>

            <td>
                @Html.DisplayFor(modelitem => item.DatNascCli)
            </td>

            <td>
                @Html.DisplayFor(modelitem => item.EnderecoCli)
            </td>

            <td>
                @Html.DisplayFor(modelitem => item.CelularCli)
            </td>

            <td>
                @Html.DisplayFor(modelitem => item.EmailCli)
            </td>

            <td>
                @Html.ActionLink("Alterar", "AltFunc", null, new { cdCli = item.CPFCli }, new { @class = "btn btn-primary btn-xs" })
                @Html.ActionLink("Deletar", "DelFunc", null, new { cdCli = item.CPFCli }, new { @class = "btn btn-danger btn-xs" })
            </td>

        </tr>

     }
 
</table>
