@model LojaDeJogos.Models.Funcionario
@{
    ViewBag.Title = "IndexFunc";
}
<h2>Funcionario</h2>
@using (Html.BeginForm("CadFunc", "Funcionario", FormMethod.Post))
{@Html.ValidationSummary(true)
<!--campos do form-->
<fildset>
    <legend>Cadastro de Funcionario</legend>

    <!-- cod func-->
    <div class="editor-label">@Html.LabelFor(model => model.CodFunc)</div>
    <div class="editor-field">
        @Html.EditorFor(model => model.CodFunc)
        @Html.ValidationMessageFor(model => model.CodFunc)
    </div>

    <!--nome func -->
    <div class="editor-label">@Html.LabelFor(model => model.NomeFunc)</div>
    <div class="editor-field">
        @Html.EditorFor(model => model.NomeFunc)
        @Html.ValidationMessageFor(model => model.NomeFunc)
    </div>

    <!--Cpf func -->
    <div class="editor-label">@Html.LabelFor(model => model.CPFfunc)</div>
    <div class="editor-field">
        @Html.EditorFor(model => model.CPFfunc, new { htmlAttributes = new { placeholder = "000.000.000-00" } })
        @Html.ValidationMessageFor(model => model.CPFfunc)
    </div>

    <!--nascimento func -->
    <div class="editor-label">@Html.LabelFor(model => model.NascFunc)</div>
    <div class="editor-field">
        @Html.EditorFor(model => model.NascFunc)
        @Html.ValidationMessageFor(model => model.NascFunc)
    </div>

    <!--endereço func -->
    <div class="editor-label">@Html.LabelFor(model => model.EnderecoFunc)</div>
    <div class="editor-field">
        @Html.EditorFor(model => model.EnderecoFunc)
        @Html.ValidationMessageFor(model => model.EnderecoFunc)
    </div>

    <!--celular func -->
    <div class="editor-label">@Html.LabelFor(model => model.CelularFunc)</div>
    <div class="editor-field">
        @Html.EditorFor(model => model.CelularFunc, new { htmlAttributes = new { placeholder = "11 9999-9999" } })
        @Html.ValidationMessageFor(model => model.CelularFunc)
    </div>

    <!--email func -->
    <div class="editor-label">@Html.LabelFor(model => model.EmailFunc)</div>
    <div class="editor-field">
        @Html.EditorFor(model => model.EmailFunc)
        @Html.ValidationMessageFor(model => model.EmailFunc)
    </div>

    <!--cargo func -->
    <div class="editor-label">@Html.LabelFor(model => model.CargoFunc)</div>
    <div class="editor-field">
        @Html.EditorFor(model => model.CargoFunc)
        @Html.ValidationMessageFor(model => model.CargoFunc)
    </div>

    <div>
        <input type="submit" value="enviar" class="btn btn-primary" />
    </div>

</fildset>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval");
}
}

