@model LojaDeJogos.Models.Funcionario
@{
    ViewBag.Title = "Index";
}

<h2>Funcionario</h2>
    <!--campos do form-->
<fildset>
    <legend>Cadastro de Funcionario</legend>

    <!-- cod func-->
    <div class="editor-label">@Html.DisplayNameFor(model=>model.CodFunc)</div>
    <div class="editor-field">@Html.DisplayFor(model=>model.CodFunc)</div>

    <!--nome func -->
    <div class ="editor-label">@Html.DisplayFor(model => model.NomeFunc)</div>
    <div class ="editor-field">@Html.DisplayFor(model => model.NomeFunc)</div>

            <!--Cpf func -->
            <div>
                <label for="CPFfunc">CPF</label>
            </div>
            <div>
                <input type="number" value="@Model.CPFfunc" name="CPFfunc" />
            </div>

            <!--nascimento func -->
            <div>
                <label for="NascFunc">Data de Nascimento</label>
            </div>
            <div>
                <input type="number" value="@Model.NascFunc" name="NascFunc" />
            </div>

            <!--endereço func -->
            <div>
                <label for="EnderecoFunc">Endereço</label>
            </div>
            <div>
                <input type="text" value="@Model.EnderecoFunc" name="EnderecoFunc" />
            </div>

            <!--celular func -->
            <div>
                <label for="CelularFunc">Telefone</label>
            </div>
            <div>
                <input type="text" value="@Model.CelularFunc" name="CelularFunc" />
            </div>

            <!--email func -->
            <div>
                <label for="EmailFunc">Email</label>
            </div>
            <div>
                <input type="text" value="@Model.EmailFunc" name="EmailFunc" />
            </div>

            <!--cargo func -->
            <div>
                <label for="CargoFunc">Cargo</label>
            </div>
            <div>
                <input type="text" value="@Model.CargoFunc" name="CargoFunc" />
            </div>

            <div>
                <input type="submit" value="enviar" />
            </div>

</fildset>


